chromadb
langchain
langchain-huggingface
langchain-ollama
langchain-pinecone 
llama-index
llama-index-embeddings-ollama
ollama
pandas
pdfminer
pi-heif
PyPDF2
python-dotenv
transformers
unstructured
unstructured-inference
wikipedia-api
yfinance
